.titulo{
    margin:30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 50px;
    color: black;
}

.contenedor{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedorResultado{
   
    display: grid;

}

.imagenPelicula{
   
    grid-column: 1;

}
.informacionPelicula{
   
    grid-column: 2;

}

